@font-face {
 font-family: 'open_sansregular';
 src: url('opensans-regular-webfont.eot');
 src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
      url('opensans-regular-webfont.woff2') format('woff2'),
      url('opensans-regular-webfont.woff') format('woff'),
      url('opensans-regular-webfont.ttf') format('truetype'),
      url('opensans-regular-webfont.svg#open_sansregular') format('svg');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'open_sanssemibold';
 src: url('opensans-semibold-webfont.eot');
 src: url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
      url('opensans-semibold-webfont.woff2') format('woff2'),
      url('opensans-semibold-webfont.woff') format('woff'),
      url('opensans-semibold-webfont.ttf') format('truetype'),
      url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
 font-weight: normal;
 font-style: normal;
}