/* Card 
------------------------------------------------------------*/

.container
{
  padding-bottom: 0;
}

.header
{
  margin: 0 0 20px 0;
  position: relative;
  /*box-shadow: inset 0 -1px rgba(50, 50, 50, .2);*/
  border-bottom: .05em solid rgba(50, 50, 50, .3);
  background-color: #f7f7f8;
}

.logo
{
  width: 125px;
  height: 43px;
  margin: 8px  0 0 18px;
  background-size: 100%;
  background-image: url(../img/logo-color.png);
  background-repeat: no-repeat;
}

#card
{ 
  top: 0;
  padding-top: 0;
  background-color: #e9e9e9;
}

.card
{
  position: relative;
  text-align: center;
}

.card .inner 
{ 
  left: 0;
  right: 0;
  position: relative; 
}

.avatar
{
  width: 120px;
  height: 120px;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 5px;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.down-arrow
{
  height: 100px;
  margin-top: 50px;
  background-size: contain;
  background-image: url(../img/icon-down-arrow.png?7);
  background-repeat: no-repeat;
  background-position: center center;
}

h3
{
  padding: 0 5px;
  font-size: 20px;
  font-weight: 400;
  color: #000;
}

h4
{
  font-size: 15px;
  font-weight: 400;
  color: #686871;
}

.nav-close
{
  background-color: rgba(255, 255, 255, 0);
  border-color: rgba(255, 255, 255, 1);
}

.nav-close::before,
.nav-close::after
{
  border-left-color: rgba(255, 255, 255, 1);
}

.install-steps
{
  width: 100%;
  height: 170px;
  background-color: #fff;
  background-image: url(../img/install-steps.png?4);
  background-size: 320px;
  background-position: center center;
  background-repeat: no-repeat;
}