/* Details 
------------------------------------------------------------*/

#details
{ padding: 0; }

.listing
{
  left: 0!important;
  right: 0;
  position: absolute;
}

.swiper-slide
{
  height: 300px;
  background-color: #ccc;
  background-size: 150%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

.caption
{
  padding: 15px;
  position:  relative;
  display: block;
  background-color: #fff;
  text-align: center;
  font-weight: 300;
}

.price
{
  /*top: 20px;*/
  bottom: 20px;
  padding: 0 7px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  background-color: rgba(44,49,52, .9);
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
}

.badge
{
  width: 45px;
  height: 45px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  background-size: cover;
  /*background-image: url(http://safelandscaping.com/nha/test/wp-content/uploads/sites/2/2013/11/woman-2-headshot1.jpg);*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: #999;
  border-radius: 100%;
}

.street,
.state
{
  margin: 0; 
  padding: 0; 
}

.street
{
  font-size: 15px;
  color: #777;
}

.state
{
  margin-top: 5px;
  display: none;
  font-size: 14px;
  color: #999; 
}

.spaces
{
  font-size: 12px;
  color: #999; 
}

.section-title
{ margin: 15px 0; }

.amenity li
{
  overflow: hidden;
  padding: 10px 15px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  font-size: 15px;
}

.amenity li:first-child
{ border-top: 1px solid #eee; }

.amenity li.active
{ background-color: #f9f9f9; }

.amenity .right
{ 
  font-weight: 300;
}