/* Explore styles */

.query
{ right: 50px; }

#explore
{ padding: 0; }

.listing
{
  padding-bottom: 84px;
  left: 0!important;
  right: 0;
  position: absolute;
}

.items
{
  margin: 0;
  padding: 0;
}

.item
{
  margin: 0;
  padding: 0;
  position: relative;
}

.slide
{
  height: 230px;
  /*opacity: .9;*/
  transition: background .5s ease-in-out;
  background-color: #ccc;
  background-size: 125%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}

.caption
{
  padding: 15px 15px 10px 15px;
  position:  relative;
  display: block;
  background-color: #fff;
  border-bottom: 1px solid #666;
}

.price
{
  /*top: 20px;*/
  bottom: 90px;
  padding: 0 7px;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  background-color: rgba(44,49,52, .9);
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
}

.street,
.state
{ 
  margin: 0; 
  padding: 0;
}

.street
{
  font-size: 15px;
  color: #777;
}

.state
{
  margin-top: 5px;
  display: none;
  font-size: 14px;
  color: #999; 
}

.spaces
{
  font-size: 13px;
  color: #999; 
}

.badge
{
  bottom: 55px;
  right: 15px;
  width: 45px;
  height: 45px;
  position: absolute;
  display: none;
  background-size: cover;
  /*background-image: url(http://safelandscaping.com/nha/test/wp-content/uploads/sites/2/2013/11/woman-2-headshot1.jpg);*/
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-color: #999;
  border-radius: 100%;
  border: 1px solid white;
}

.options
{
left: 0;
right: 0;
position: fixed;
bottom: 19px;
text-align: center;
}

.more
{
  top: 6px;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  /*opacity: .9;*/
  font-weight: bold;
  line-height: 55px;
}

.more::before,
.more::after
{
  position: absolute;
  display: inline-block;
  content: '';
  background-color: #fff;
}

.more::before
{
  top: 16px;
  width: 2px;
  height: 21px;
  margin-left: -1px;
}

.more::after
{
  left: 17px;
  width: 21px;
  height: 2px;
  margin-top: -2px;
}

.filter,
.sort
{
  width: 130px;
  z-index: 10;
  opacity: .9;
  display: none;
}

.filter { margin: 0 0 0 7px; }
.sort { margin: 0 5px 0 0; }

/* Device specifications */

@media screen and (min-width: 769px)
{ .slide { background-size: 50%!important; } }