/* Filters styles */

.from-date,
.to-date
{ margin-top: 10px!important; }

#price
{
 width: 80%;
 margin: 0 auto;
 overflow: hidden;
 font-family: 'open_sanssemibold';
 font-size: 15px;
}

.min-price,
.max-price
{ color: #fc4e67; }

.range-slider
{
 left: 0;
 right: 0;
 max-width: 80%;
 margin: 0 auto;
 margin-top: 30px;
 margin-bottom: 30px;
 position: absolute;
 border: none!important;
 background-color: #ccc!important;
 border-radius: 4px!important;
}

.noUi-target
{ box-shadow: none!important; }

.noUi-background
{
 box-shadow: none!important;
 background-color: #ccc!important;
 border-radius: 4px!important;
}

.noUi-handle
{
 top: -12px!important;
 padding-top: 20px;
 padding-bottom: 20px;
 box-shadow: inset 0 0 1px #eee, inset 0 0 0 transparent, 0 0 1px 0 rgba(70, 70, 70, .5)!important;
 border-top: none!important;
 border-left: none!important;
 border-right: none!important;
 border-bottom-color: #777!important;
}

.noUi-handle:after, 
.noUi-handle:before
{ top: 12px!important; }

.noUi-connect
{
 background-color: #fc4e67!important;
 box-shadow: inset 0 1px 0 rgba(0, 0, 0, .5)!important;
 border-radius: 8px!important;
}

.noUi-base
{ border: none!important; }

.glyph
{ display: block; }

.switch-options
{ 
 margin: 0 auto;
 margin-top: 20px;
 margin-bottom: 40px;
}

.switch-options li
{
 overflow: hidden;
 padding: 15px 15px 5px 0;
 overflow: hidden;
 border-bottom: 1px solid #ddd;
 line-height: 35px;
}

.switch-options li:first-child
{ border-top: 1px solid #ddd; }