/* Index styles */

#index
{
 top: 0;
 z-index: 2;
 background-color: #373c40;
 background-image: url(../img/bg-1.jpg);
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
 background-size: cover;
 text-align: center;
}

.logo
{
 width: 100%;
 height: 50px;
 max-width: 230px;
 margin: 60px 0 20px 0;
 display: inline-block;
 background-image: url(../img/logo.png);
 background-size: 100%;
 background-repeat: no-repeat;
}

.tagline
{
 margin: 0 auto;
 margin-bottom: 50px;
 padding: 0 30px;
 font-family: 'open_sanssemibold';
}

.connect
{
 left: 0;
 right: 0;
 bottom: 30px;
 width: 100%;
 max-width: 255px;
 margin: 0 auto;
 position: absolute;
}

button
{ margin-top: 10px; }