/* Search styles */

.query
{
  top: 9px;
  left: 50px;
  right: 15px;
  position: absolute;
}

.q
{
  width: 100%;
  height: 32px!important;
  min-height: 32px!important;
  box-shadow: none!important;
  border: 1px solid #ddd!important;
  padding-right: 30px!important;
  outline: none;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 15px;
  color: #333;
}

.options
{
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #777;
}

.options li
{
  padding: 10px 0;
  padding-left: 0;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.options li:first-child
{ padding-top: 0; }

.current::after
{
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  position: absolute;
  display: inline-block;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: '';
  border-top: 2px solid #999;
  border-right: 2px solid #999;
}

.clear
{
  top: 7px;
  right: 6px;
  width: 18px;
  height: 18px;
  position: absolute;
  background: #ccc;
  border-radius: 100%;
  border: 1px solid #ccc;
}

.clear::before,
.clear::after
{
  top: 6px;
  width: 9px;
  height: 9px;
  position: absolute;
  display: inline-block;
  content: '';
  border-left: 2px solid white;
}

.clear::before
{
  right: 6px;
 -webkit-transform: rotate(135deg);
 -moz-transform: rotate(135deg);
 -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}

.clear::after
{
  left: 6px;
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}