/* Imports
------------------------------------------------------------*/

@import url(../fonts/corbel/corbel.css);
@import url(../fonts/seganlight/seganlight.css);
@import url(../fonts/blissfulthinking/blissfulthinking.css);
@import url(../fonts/ionicons/ionicons.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100,500);

/* Resets
------------------------------------------------------------*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,input,textarea,select,option,button,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;outline:none;vertical-align:top}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Generics 
------------------------------------------------------------*/

body
{
  position: relative!important;
  animation: fade .5s;
 -ms-animation: fade .5s;
 -moz-animation: fade .5s;
 -webkit-animation: fade .5s;
 -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ccc;
  font-family: 'Roboto', sans-serif;
}

a
{
  transition: all .1s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}

a:hover
{}

h1,
h2,
h3,
h4,
h5,
h6
{
  padding: 20px 0;
  font-family: 'SeganLight', sans-serif;
  font-weight: normal;
  letter-spacing: .02em;
}

hr
{ 
  height: 1px;
  border: none;
  background-color: rgba(255, 255, 255, .4);
}

p
{
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .03em;
  line-height:  1.6em;
}

button,
.button
{
  transition: all .2s ease-in-out;
  cursor: pointer;
}

button:hover,
.button:hover
{}

input,
select,
textarea
{}

/* Layouts 
------------------------------------------------------------*/

.wrapper
{}

.inner
{
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  /*overflow: hidden;*/
}

.header
{
  left: 0;
  right: 0;
  height: 50px;
  z-index: 1;
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  background-size: cover;
  /*box-shadow: 0 0 3px rgba(0, 0, 0, .2);*/
  text-align: center;
  line-height: 30px;
}

.header a
{ color: #fff; }

.header .logo
{
  top: 0;
  left: 20px;
  width: 80px;
  height: 80px;
  float: left;
  position: absolute;
  display: inline-block;
  overflow: hidden;
  background-size: 100%;
  background-color: #00d6c0;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  font-size: 58px;
  font-family: 'blissful_thinkingregular';
  line-height: 70px;
  color: #fff;
}

.header .logo span
{
  top: -1px;
  left: -4px;
  bottom: 0;
  position: absolute;
  display: inline-block;
}

.nav
{
  left: 110px;
  right: 20px;
  position: absolute;
  display: inline-block;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
  letter-spacing: .03em;
}

.nav ul
{ position: relative; }

.nav ul ul li
{
  display: block;
  line-height: 1.6em;
}

.nav ul ul a
{ 
  padding: 5px 7px 3px 15px;
  display: block;
  color: #666;
}

.nav li
{ display: inline-block; }

.nav li ul
{
  width: 200px;
  margin-top: 10px;
  padding: 0;
  z-index: 0;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: all .10s ease-in-out;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
}

.nav li ul li
{ 
  padding: 0; 
  line-height: 35px;
}

.nav li ul a:hover
{
  background-color: #00d6c0;
  color: #fff;
}

.nav li:hover ul
{
  left: auto;
  margin-top: 0;
  opacity: 1;
  z-index: 1;
  display: block;
  visibility: visible;
}

.nav a
{
  padding: 10px;
  display: inline-block;
  color: #666;
}

.nav a:hover
{ /*color: #999;*/ }

.main
{ background-color: #fff; }

.main .inner
{ overflow: hidden; }

.hide { 
  opacity: 0;
  visibility: hidden;
}

/* Pages
------------------------------------------------------------*/

.intro
{
  display: block;
  background-size: cover;
  background-color: #999;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
}

.intro h1
{
  width: 100%;
  font-size: 50px;
  line-height: 1.4em;
}

.intro a 
{ color: #fff; }

.about.section
{ padding-bottom: 0; }

.about .inner
{ 
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, .15); 
}

.party-members .inner
{ overflow: inherit; }

.section
{
  padding: 40px 0;
  background-color: #fff; 
  color: #333;
}

.section.teal
{ 
  background-color: #00d6c0;
  color: #fff;
}

.section.gray
{
  background-color: #f3f3f3;
  color: #333;
}

.section.blue
{
  background-color: #00b7a1;
  color: #fff;
}

.about .copy
{ 
  width: 80%;
  margin: 0 auto;
}

.party-members
{ text-align: center; }

.party-members .titles
{
  width: 100%;
  padding: 30px 0 0;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  letter-spacing: .03em;
}

.party-members .titles li
{
  width: 180px;
  margin: 0 30px;
  display: inline-block;
}

.members-info
{
  padding-top: 60px;
}

.swiper-pagination-bullet
{
  opacity: .3;
  transition: all .3s;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-pagination-bullet-active
{ opacity: 1; }

.swiper-pagination-bullet-active::after
{
  left: 70px;
  bottom: -105px;
  width: 0; 
  height: 0; 
  position: absolute;
  display: block;
  content: '';
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f3f3f3;
}

.swiper-pagination-bullet:nth-child(1)
{ background-image: url(../images/agent-1.jpg); }

.swiper-pagination-bullet:nth-child(2)
{ background-image: url(../images/buyers-1.jpg); }

.swiper-pagination-bullet:nth-child(3)
{ background-image: url(../images/sellers-1.jpg); }

.swiper-container
{
  width: 100%;
  height: 400px;
  z-index: 0;
  position: relative;
}

.swiper-slide
{
  width: 400px;
  height: 400px;
  font-size: 18px;
}

.swiper-pager
{
  width: 100%;
}

.swiper-pagination-bullet
{
  width: 180px;
  height: 180px;
  margin: 0 30px;
  position: relative;
  background-color: rgba(0, 0, 0, .8);
}

.swiper-pagination-bullet-active
{ background-color: #fff; }

.page-home .intro input
{
  width: 60%;
  height: 60px;
  margin: 0;
  display: inline-block;
  background-color: transparent;
  border-bottom: 2px solid #fff;
  font-family: 'SeganLight', sans-serif;
  font-size: 40px;
  line-height: 60px;
  color: #fff;
}

.page-home .intro input::-webkit-input-placeholder
{ color: #fff; }

.page-home .intro button
{
  width: 60px;
  height: 62px;
  display: inline-block;
  background-size: 19px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 2px solid rgba(255, 255, 255, .3);
  font-size: 40px;
  color: #fff;
}

.page-home .intro button:hover
{ border-bottom: 2px solid rgba(255, 255, 255, 1); }

.page-home #search-home
{
  top: 0;
  bottom: 0;
  transition: all .3s;
}

/*
.pane
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  transition: all .3s ease-in-out;
  background-color: rgba(0,0,0,.5);
}
*/

.pane
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 280px;
  height: 305px;
  margin: auto;
  padding-bottom: 30px;
  z-index: 999;
  opacity: 0;
  position: fixed;
  display: block;
  visibility: hidden;
  transition: all .3s ease-in-out;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.pane.show
{
  opacity: 1;
  visibility: visible;
}

.pane .title
{
  margin-bottom: 20px;
  padding: 10px 30px 10px 20px;
  position: relative;
  border-bottom: 1px solid #efefef;
  text-align: center
}

.pane .close-button
{
  top: 12px;
  left: 15px;
  width: 23px;
  height: 23px;
  margin-top: 1px;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  color: #666;
}

.pane .ion-ios-close-empty
{
  position: relative;
  z-index: -1;
}

.pane a
{ 
  padding: 0;
  color: #00d6c0; 
}

.pane a:hover
{ color: #333; }

.pane input
{
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #e9e9e9;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.pane input[type='checkbox']
{
  width: auto;
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
}

.pane button
{
  margin: 10px 0;
  padding: 10px 20px;
  transition: all .2s;
  background-color: #00d6c0;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
}

.pane button:hover
{ background-color: #444; }

.backdrop
{ background-color: rgba(0,0,0,.5); }

#backdrop
{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: fixed;
  transition: all .3s;
  
  animation: backdrop .3s;
 -ms-animation: backdrop .3s;
 -moz-animation: backdrop .3s;
 -webkit-animation: backdrop .3s;
  
  background-color: rgba(0,0,0,.5);
}

/* Columns
------------------------------------------------------------*/

.align-left    { float: left; }
.align-right   { float: right; }
.align-center  { margin: 0 auto; }

.text-left    { text-align: left; }
.text-right   { text-align: right; }
.text-center  { text-align: center; }

.one-half   { width: 50%; }
.one-third  { width: 33.3333333333333%; }
.one-fourth { width: 25%; }
.one-fifth  { width: 20%; }
.two-third  { width: 66.6666666666667%; }

.one-half,
.one-third,
.one-fourth,
.one-fifth,
.two-third
{
  float: left;
  box-sizing: border-box;
}

.row
{ overflow: hidden; }

/* Animations
------------------------------------------------------------*/

@keyframes fade
{
  from  { opacity: 0; }
  to    { opacity: 1; }
}

@-ms-keyframes fade
{
  from  { opacity: 0; }
  to    { opacity: 1; }
}

@-moz-keyframes fade
{ 
  from  { opacity: 0; }
  to    { opacity: 1; }
}

@-webkit-keyframes fade 
{ 
  from  { opacity: 0; }
  to    { opacity: 1; }
}

@keyframes backdrop
{
  from  { opacity: 0; }
  to    { opacity: 1; }
}

@-ms-keyframes backdrop
{
  from  { opacity: 0; }
  to    { opacity: 1; }
}

@-moz-keyframes backdrop
{ 
  from  { opacity: 0; }
  to    { opacity: 1; }
}

@-webkit-keyframes backdrop 
{ 
  from  { opacity: 0; }
  to    { opacity: 1; }
}