@font-face {
    font-family: 'Corbel';
    src: url('Corbel.eot');
    src: url('Corbel.eot') format('embedded-opentype'),
         url('Corbel.woff2') format('woff2'),
         url('Corbel.woff') format('woff'),
         url('Corbel.ttf') format('truetype'),
         url('Corbel.svg#Corbel') format('svg');
}
