@font-face {
    font-family: 'SeganLight';
    src: url('SeganLight.eot');
    src: url('SeganLight.eot') format('embedded-opentype'),
         url('SeganLight.woff2') format('woff2'),
         url('SeganLight.woff') format('woff'),
         url('SeganLight.ttf') format('truetype'),
         url('SeganLight.svg#SeganLight') format('svg');
}